
<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <meta charset="UTF-8"/>
    <title>Клиенты</title>

    <script>

    </script>
</head>

<form name="saveNewClient" method="post" action="clients">
    <div id="profileClient">
        <h4>Создать нового клиента</h4>
        <p><input type="text" size="40" id = "newClientName" name="newClientName" placeholder="Введите имя клиента" required></p>
        <p><input type="text" size="40" id = "newClientAddress" name="newClientAddress" placeholder="Введите адрес клиента" required></p>
        <p><input type="text" size="40" id = "newClientPhone" name="NewClientPhone" pattern="7-[0-9]{3}-[0-9]{3}" placeholder="Введите телефон 7-xxx-xxx" required></p>
        <p><input type="text" size="40" id = "newClientPhoneTwo" name="NewClientPhone" pattern="7-[0-9]{3}-[0-9]{3}" placeholder="Введите телефон 7-xxx-xxx(необязательно)"></p>
        <p><input type="text" size="40" id = "newClientPhoneThree" name="NewClientPhone" pattern="7-[0-9]{3}-[0-9]{3}" placeholder="Введите телефон 7-xxx-xxx(необязательно)"></p>
    </div>
    <button onclick="saveNewClient()">Сохранить</button>
</form>

<div id="container">
    <h4>Список клиентов</h4>
    <table border="1" width="100%" cellpadding="5" style="width: 600px" class="table">
        <thead>
        <tr>
            <th style="width: 50px">ID</th>
            <th style="width: 100px">Имя</th>
            <th style="width: 100px">Адресс</th>
            <th style="width: 100px">Номер телефона</th>
        </tr>
        </thead>
        <tbody>
        <#list clients as client>
        <tr>
            <td align="center">${client.id}</td>
            <td align="center">${client.name}</td>
            <td align="center">${client.address.street}</td>
            <td align="left">
                <#list client.phones as phone>
                <ul>${phone.number}</ul>
            </#list>
            </td>
        </tr>
        </#list>
        </tbody>
    </table>
</div>
</body>
</html>
